.dash-item {
    cursor: pointer;
}
.dash-item:hover {
    color: #333;
    background-color: #eef;
}




/* test purpose */
.test-click p {
    cursor: pointer;
}
.test-click p:hover {
    background-color: #ddd;
}