.footer-link a, .footer-link-social a {
    color: blueviolet;
    text-decoration: none;
}
.footer-link a:hover, .footer-link-social a:hover {
    color: lightblue;
}
.footer-link-social a {
    padding: 0;
}